@model string
<div style="padding:10px; min-height:500px; background:linear-gradient(120deg,
  #45b97c,
  #45b97c 40px,
  #b1d249 40px,
  #b1d249 80px,
  #D5E05B 80px,
  #D5E05B 120px,
  #f5f5f5 120px,
  #f5f5f5)">
<h1 style="text-align:center;">Coach Twins notifictatie</h1>
<blockquote style="background: white; padding: 15px;">@Model</blockquote>
</div>